<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myit.ylw.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.myit.ylw.pojo.Dictionary" >
    <constructor >
      <arg column="DictionaryID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DictionaryName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ParentID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ChildNum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ListID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AdminID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AddTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsClose" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClassID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DictionaryValue" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.myit.ylw.pojo.Dictionary" >
    <constructor >
      <arg column="DictionaryID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DictionaryName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ParentID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ChildNum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ListID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AdminID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="AddTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="IsClose" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClassID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DictionaryValue" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DictionaryImg" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DictionaryID, DictionaryName, ParentID, ChildNum, ListID, AdminID, AddTime, IsClose, 
    ClassID, DictionaryValue
  </sql>
  <sql id="Blob_Column_List" >
    DictionaryImg
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.myit.ylw.pojo.DictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myit.ylw.pojo.DictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.myit.ylw.pojo.DictionaryExample" >
    delete from t_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myit.ylw.pojo.Dictionary" >
    insert into t_dictionary (DictionaryID, DictionaryName, ParentID, 
      ChildNum, ListID, AdminID, 
      AddTime, IsClose, ClassID, 
      DictionaryValue, DictionaryImg)
    values (#{dictionaryid,jdbcType=INTEGER}, #{dictionaryname,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{childnum,jdbcType=INTEGER}, #{listid,jdbcType=INTEGER}, #{adminid,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP}, #{isclose,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, 
      #{dictionaryvalue,jdbcType=VARCHAR}, #{dictionaryimg,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myit.ylw.pojo.Dictionary" >
    insert into t_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictionaryid != null" >
        DictionaryID,
      </if>
      <if test="dictionaryname != null" >
        DictionaryName,
      </if>
      <if test="parentid != null" >
        ParentID,
      </if>
      <if test="childnum != null" >
        ChildNum,
      </if>
      <if test="listid != null" >
        ListID,
      </if>
      <if test="adminid != null" >
        AdminID,
      </if>
      <if test="addtime != null" >
        AddTime,
      </if>
      <if test="isclose != null" >
        IsClose,
      </if>
      <if test="classid != null" >
        ClassID,
      </if>
      <if test="dictionaryvalue != null" >
        DictionaryValue,
      </if>
      <if test="dictionaryimg != null" >
        DictionaryImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictionaryid != null" >
        #{dictionaryid,jdbcType=INTEGER},
      </if>
      <if test="dictionaryname != null" >
        #{dictionaryname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="childnum != null" >
        #{childnum,jdbcType=INTEGER},
      </if>
      <if test="listid != null" >
        #{listid,jdbcType=INTEGER},
      </if>
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isclose != null" >
        #{isclose,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="dictionaryvalue != null" >
        #{dictionaryvalue,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryimg != null" >
        #{dictionaryimg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myit.ylw.pojo.DictionaryExample" resultType="java.lang.Integer" >
    select count(*) from t_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dictionary
    <set >
      <if test="record.dictionaryid != null" >
        DictionaryID = #{record.dictionaryid,jdbcType=INTEGER},
      </if>
      <if test="record.dictionaryname != null" >
        DictionaryName = #{record.dictionaryname,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        ParentID = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.childnum != null" >
        ChildNum = #{record.childnum,jdbcType=INTEGER},
      </if>
      <if test="record.listid != null" >
        ListID = #{record.listid,jdbcType=INTEGER},
      </if>
      <if test="record.adminid != null" >
        AdminID = #{record.adminid,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null" >
        AddTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isclose != null" >
        IsClose = #{record.isclose,jdbcType=INTEGER},
      </if>
      <if test="record.classid != null" >
        ClassID = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.dictionaryvalue != null" >
        DictionaryValue = #{record.dictionaryvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.dictionaryimg != null" >
        DictionaryImg = #{record.dictionaryimg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_dictionary
    set DictionaryID = #{record.dictionaryid,jdbcType=INTEGER},
      DictionaryName = #{record.dictionaryname,jdbcType=VARCHAR},
      ParentID = #{record.parentid,jdbcType=INTEGER},
      ChildNum = #{record.childnum,jdbcType=INTEGER},
      ListID = #{record.listid,jdbcType=INTEGER},
      AdminID = #{record.adminid,jdbcType=INTEGER},
      AddTime = #{record.addtime,jdbcType=TIMESTAMP},
      IsClose = #{record.isclose,jdbcType=INTEGER},
      ClassID = #{record.classid,jdbcType=INTEGER},
      DictionaryValue = #{record.dictionaryvalue,jdbcType=VARCHAR},
      DictionaryImg = #{record.dictionaryimg,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dictionary
    set DictionaryID = #{record.dictionaryid,jdbcType=INTEGER},
      DictionaryName = #{record.dictionaryname,jdbcType=VARCHAR},
      ParentID = #{record.parentid,jdbcType=INTEGER},
      ChildNum = #{record.childnum,jdbcType=INTEGER},
      ListID = #{record.listid,jdbcType=INTEGER},
      AdminID = #{record.adminid,jdbcType=INTEGER},
      AddTime = #{record.addtime,jdbcType=TIMESTAMP},
      IsClose = #{record.isclose,jdbcType=INTEGER},
      ClassID = #{record.classid,jdbcType=INTEGER},
      DictionaryValue = #{record.dictionaryvalue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>